* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#call-to-action {
    color: rgb(247, 14, 14);
}

#call-to-action:hover {
    color: rgb(116, 10, 10);
    font-size: 1.02em;
    
}

#gallery {

    visibility: hidden; 
}

.grid-sizer, .grid-item {
  width: 33.3333%;
}


@media (max-width: 576px) {
  .grid-sizer, .grid-item {
    width: 100%;
  }
}

